@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
//@import "components/patterns";
@import "patterns/patterns";

//$tablet: new-breakpoint(max-width 760px 4);
$mobile: new-breakpoint(max-width 760px 4);

.main-content {
	min-height: 440px;
	@include outer-container;
	margin: 0;
	max-width: 100%;
}

.left-content {
	@include span-columns(2);

	@include media($mobile) {
	  @include span-columns(4);
	}

}

.map-content {
	@include span-columns(10);

	@include media($mobile) {
	  @include span-columns(4);
	}
}

.left-content form, h2 {
	padding: 1em;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.user {
	display: inline-block;
}

.hidden {
	display: none;
}