@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
//@import "components/patterns";
@import "patterns/patterns";

//$tablet: new-breakpoint(max-width 760px 4);
$mobile: new-breakpoint(max-width 1230px 4);

.main-content {
	min-height: 440px;
	@include outer-container;
	margin: 0;
	max-width: 100%;
	//background-color: #EFE8E8;
}

.left-content {
	@include span-columns(2);

	@include media($mobile) {
		@include span-columns(4);
	}

}

.left-main {
	@include media($mobile) {
		@include span-columns(2);
	}
}

.left-clear {
	float: right;
	padding: .5em;

	@include media($mobile) {
		@include span-columns(2);
	}
}

.map-content {
	@include span-columns(10);

	@include media($mobile) {
		@include span-columns(3.5);
		@include shift(.25);
	}
}

.left-content form, h2, p {
	padding: .5em;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.user {
	display: inline-block;
}

.hidden {
	display: none;
}

#year-display {
	text-align: center;
	font-size: 1.4em;
}