.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../img/old-radio-web1.jpg';
  //$hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  vertical-align: bottom;

  border-bottom: 3px solid #2e2e2e;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 2.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        text-shadow: 2px 2px 2px #2f2f2f;

        @include media($large-screen) {
          font-size: 2.5em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.3em;
        margin: 0 auto 2em auto; 
        font-size: 1.3em;
        font-weight: 400;
        text-shadow: 2px 2px 2px #2f2f2f;

        @include media($large-screen) {
          font-size: 1.3em;
          max-width: 40%;
        }
      }
    }
  }
}
